.c-button {
  background-color: var(--g-color-brand);
  border-radius: var(--g-border-radius-medium);
  border: 1px solid transparent;
  color: var(--g-color-white);
  cursor: pointer;
  padding: var(--g-spacing) var(--g-spacing-5x-large);
  font-weight: var(--g-font-weight-bold);
  font-size: var(--g-font-size-x-large);
  text-transform: uppercase;
}

.c-button:disabled {
  background-color: var(--g-color-disabled);
  color: var(--g-color-grey-600);
  cursor: not-allowed;
}

.c-button--primary:hover:enabled {
  border: 2px solid var(--g-color-brand);
  background-color: var(--g-color-white);
  color: var(--g-color-brand);
}

@media (max-width: 576px) {
  .c-button {
    padding: var(--g-spacing-small) var(--g-spacing-x-large);
    font-size: var(--g-font-size-x-small);
  }
}
