.c-no-data {
  align-items: center;
  color: var(--g-color-brand);
  display: flex;
  font-size: var(--g-font-size-5x-large);
  font-weight: var(--g-font-weight-bold);
  grid-column: span 2;
  justify-content: center;
  text-transform: uppercase;
}
