.l-container-max-width {
  max-width: var(--g-container-max-width);
  margin: 0 auto;
}

.h-header-offset-y {
  margin-top: 80px;
}

.h-hide-visually {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap; /* 1 */
  width: 1px;
}
