.c-button-icon-only {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: var(--g-spacing-large);
  justify-content: center;
  line-height: 1;
  width: var(--g-spacing-large);
  border-radius: var(--g-border-radius-full);
  padding: 4px;
}

.c-button-icon-only:disabled {
  background-color: var(--g-color-disabled);
  cursor: not-allowed;
}

.c-button-icon-only--primary {
  background-color: var(--g-color-white);
  color: var(--g-color-brand);
  border: 1px solid transparent;
}

.c-button-icon-only--primary:focus,
.c-button-icon-only--primary:hover {
  background-color: var(--g-color-brand);
  color: var(--g-color-white);
  border: 1px solid var(--g-color-brand);
}

.c-button-icon-only--inverse {
  background-color: transparent;
  color: var(--g-color-white);
  border: 1px solid transparent;
}

.c-button-icon-only--inverse:focus,
.c-button-icon-only--inverse:hover {
  background-color: var(--g-color-brand);
  color: var(--g-color-white);
  border-color: var(--g-color-blue-200);
}
