.c-article-card-list {
  color: var(--g-color-off-black);
  display: grid;
  grid-column-gap: var(--g-spacing);
  grid-row-gap: var(--g-spacing-2x-large);
  grid-row: auto auto;
  grid-template-columns: 50% 50%;
  margin-right: var(--g-spacing);
  padding-bottom: var(--g-spacing-6x-large);
}

.c-article-card {
  width: 100%;

  &__image {
    width: 100%;
    object-fit: contain;
  }

  &__title {
    margin: var(--g-spacing-3x-small);
  }
}

.c-article-card-list__load-more-containter {
  padding: var(--g-spacing-5x-large) 0;
  align-items: center;
  display: flex;
  grid-column: span 2;
  justify-content: center;
  width: 100%;
}

@media (max-width: 768px) {
  .c-article-card--is-full-width {
    flex-direction: column;

    .c-article-card__image-container {
      height: 10rem;
    }

    .c-article-card__image {
      object-position: top;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .c-article-card__title {
      font-size: var(--g-font-size-3x-large);
    }
    .c-article-card__summary {
      font-size: var(--g-font-size);
    }
  }

  .c-article-card-list {
    margin-right: 0;
    display: flex;
    flex-direction: column;
  }

  .c-article-card {
    display: flex;
    font-size: var(--g-font-size-x-small);

    &__image {
      width: 10rem;
      margin-right: var(--g-spacing);
    }
    &__title {
      font-size: var(--g-font-size-small);
    }
  }
}

@media (max-width: 576px) {
  .c-article-card--is-full-width {
    .c-article-card__image-container {
      height: unset;
    }

    .c-article-card__title {
      font-size: unset;
    }
    .c-article-card__summary {
      font-size: unset;
    }
  }

  .c-article-card-list {
    display: grid;
    grid-row: auto;
    grid-template-columns: 100%;
    margin: unset;
  }

  .c-article-card__image-container {
    height: 100%;
  }

  .c-article-card {
    display: grid;

    &__image {
      width: 100%;
    }
  }

  .c-article-card-list__load-more-containter {
    grid-column: unset;
  }

  .c-article-card--is-full-width {
    grid-column: unset;
  }
}
