.c-title-block {
  padding: 2rem;

  &__title {
    font-family: 'Martel', serif;
    font-size: var(--g-font-size-5x-large);
    line-height: var(--g-font-size-5x-large);
    color: var(--g-color-brand);
    margin: 0;
  }

  &__description {
    color: var(--g-color-off-black);
    font-size: var(--g-font-size-2x-large);
    line-height: var(--g-font-size-2x-large);
  }
}

@media (max-width: 576px) {
  .c-title-block__title {
    font-size: var(--g-font-size-4x-large);
    line-height: var(--g-font-size-4x-large);
  }

  .c-title-block__description {
    font-size: var(--g-font-size);
    line-height: var(--g-font-size);
  }
}
