.c-preloader-overlay {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color 0.5s ease-in-out;
  width: 100vw;
  z-index: 9999;
}

.c-preloader__wrapper {
  padding: 0.2rem;
}

.c-preloader__spinner {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  color: var(--g-color-black);
  animation: rotate 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
