.c-header {
  align-items: center;
  background-color: var(--g-color-white);
  display: flex;
  height: var(--g-header-height);
  left: 0;
  left: 0;
  padding: 0 2rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--g-z-header);

  &__logo {
    height: var(--g-spacing-4x-large);
    width: var(--g-spacing-6x-large);
  }

  &__navigation {
    &__anchor {
      color: var(--g-color-brand);
      font-size: var(--g-font-size-x-large);
      font-weight: var(--g-font-weight);
      margin-right: var(--g-spacing-2x-large);
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &__utility-icons {
    height: var(--g-spacing-2x-large);
    width: var(--g-spacing-2x-large);
  }
}

.c-header-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 576px) {
  .c-header__navigation {
    display: none;
  }
}
