.c-article-feed {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-row: auto auto;
  grid-column-gap: var(--g-spacing);
}

@media (max-width: 576px) {
  .c-article-feed {
    display: flex;
    flex-direction: column-reverse;
  }
}
