.c-advertisement {
  position: relative;
  padding-right: var(--g-spacing);

  &__close-icon {
    position: absolute;
    right: var(--g-spacing-large);
    top: var(--g-spacing-2x-small);

    .c-button-icon-only__icon {
      width: var(--g-spacing-small);
      height: var(--g-spacing-small);
    }
  }

  &__image {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .c-advertisement {
    &__close-icon {
      right: var(--g-spacing-2x-small);
      top: var(--g-spacing-2x-small);
    }

    margin-bottom: var(--g-spacing);
    padding: 0;
  }
}
